body {
  margin: 2rem;
}

img {
  border-radius: 0.5rem;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.4rem;
}

/* Animação de Entrada da esqueda para direita */

.animeLeft {
  transform: translateX(-20px);
  opacity: 0;
  animation: animeLeft 0.5s forwards;
}

@keyframes animeLeft {
  to {
    transform: initial;
    opacity: initial;
  }
}
